.workshop-card-container{
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;
  overflow: hidden;
}

.workshop-card-container > *{
  grid-area: 1 / 1;
}

.card-overlay::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: -99;
}


.contain{
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: -99;
  position: absolute;
}