.card-back{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

@media only screen and (min-width: 768px) {
  .profile-pic{
    clip-path: polygon(0 0, 95% 0, 70% 100%, 0 100%);
    shape-outside: polygon(0 0, 95% 0, 70% 100%, 0 100%);
    border-right: 2px solid white;
  }  
}
@media only screen and (max-width: 768px) {
  .profile-backdrop {
    background: linear-gradient(0deg, #ffffff 50%, #0f1729 50%);  
  }
}
