::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53, 54, 56);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.batch {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}
.alumni_icon {
  position: relative;
  left: 90%;
  top: -4rem;
  color: rgb(255, 255, 255);
}
.alumni_icon:hover {
  color: rgb(46, 224, 154);
}
.alumni_batch {
  position: relative;
  top: 0.2rem;
}
.our_alumni {
  font-size: 45px;
}
.bottom_text {
  color: rgb(161, 159, 158);
}
.card_bg {
  background: #383838;
}

.years {
  padding: 5px;
  text-align: center;
  font-size: 16px;

  font-weight: 500;
  border-radius: 20px;
  margin: 1rem 10.5vw 1rem 0;

  color: white;
  border: 1px solid white; /* Green */
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.fa-filter {
  color: white;
  position: relative;
  top: -3.4rem;
}
.alumni_res {
  display: flex;
}
@media screen and (max-width: 500px) {
  .alumni_res {
    display: block;
  }
}
