@charset "UTF-8";

.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}
#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#overlay img {
  margin: 0;
  width: 80%;
  height: 100%;
  object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  #overlay img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #overlay img {
    width: 50%;
  }
}
.nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
.nextButton:hover {
  opacity: 0.2;
}
@media screen and (min-width: 768px) {
  .nextButton {
    font-size: 3em;
  }
}
#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton :hover {
  opacity: 0.2;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 4rem;
  right: 4rem;
}
#exitButton:hover {
  opacity: 0.2;
}
@media screen and (min-width: 768px) {
  #exitButton {
    font-size: 3em;
  }
}
.gallery-disabled {
  opacity: 0;
}
.gallery-disabled:hover{
  opacity: 0;
}

@media (max-width: 800px) {
  .gallery-main-boxes{
      height:15rem;
  }
}
.gallery-main-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  color: #fff;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  border-radius: 10px;
  border: 1px solid black;
}
.gallery-main-boxes:hover{
  outline: 0.875rem solid rgba(0, 0, 0, 0.6);
  opacity:0.9;
  transition: 300ms;
} 