@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.section-content {
  position: relative;
  background: inherit;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .section-content:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
    filter: blur(5px);
    margin: -20px;
  }
}
  

.bg-gradient{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,51,51,1) 50%, rgba(0,0,0,1) 100%);
}
