@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@300;400;500&display=swap");
.team_body {
  background-color: #1f1f1f;
  font-family: "Josefin Sans", sans-serif;
}
.team_icons {
  left: 87%;
}
.team-card {
  padding-bottom: calc(100% - 16px);
}
.team-card h2 {
  top: calc(100% - 16px);
  color: #430194;
  background: linear-gradient(
    90deg,
    rgba(126, 115, 255, 1) 0%,
    rgba(91, 77, 255, 1) 100%
  );
}
.posts {
  font-size: 20px;
  margin-left: 20.5%;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: none;
}
.team-card h2:before,
.team-card h2:after {
  content: " ";
  position: absolute;
  left: 0;
  top: -16px;
  border: 8px solid;
}
.team-card h2:after {
  top: auto;
  bottom: 0;
}
.team-card.Red h2:before {
  border-top-color: transparent;
  border-left-color: transparent;
}
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}
.hide {
  display: none;
}
